{%- assign my_lang = page.lang | default: "en" -%}
{%- if my_lang == "es" -%}
  {%- assign t_tagline = "Calefacción inteligente, libre y de código abierto. Creado por Daniel Viladrich, Max Balanyà Scholl y" -%}
  {%- assign t_about = "Acerca de" -%}
  {%- assign about_url = "/es/acerca/" -%}
{%- else -%}
  {%- assign t_tagline = "Free, open-source smart heating. Created by Daniel Viladrich, Max Balanyà Scholl &amp;" -%}
  {%- assign t_about = "About" -%}
  {%- assign about_url = "/about/" -%}
{%- endif -%}
<footer class="site-footer">
  <div class="wrapper">
    <a class="footer-brand" href="https://github.com/{{ site.github_username }}">
      <img class="brand-icon" src="{{ '/assets/images/strom-radiator-64.png' | relative_url }}"
        srcset="{{ '/assets/images/strom-radiator-128.png' | relative_url }} 2x"
        width="28" height="28" alt="">
      <span>Strom</span>
    </a>
    <p class="footer-meta">
      {{ t_tagline }}
      <a href="https://janbalanya.com">Jan Balanyà Scholl</a>.
      <span aria-hidden="true">·</span>
      <a href="{{ about_url | relative_url }}">{{ t_about }}</a>
    </p>
  </div>
</footer>
