{%- assign my_lang = page.lang | default: "en" -%}
{%- if my_lang == "es" -%}
  {%- assign t_tagline = "Calefacción inteligente, libre y de código abierto. Creado por Daniel Viladrich, Max Balanyà Scholl y" -%}
  {%- assign t_about = "Acerca de" -%}
  {%- assign about_url = "/es/acerca/" -%}
{%- else -%}
  {%- assign t_tagline = "Free, open-source smart heating. Created by Daniel Viladrich, Max Balanyà Scholl &amp;" -%}
  {%- assign t_about = "About" -%}
  {%- assign about_url = "/about/" -%}
{%- endif -%}
<footer class="site-footer">
  <div class="wrapper">
    <a class="footer-brand" href="https://github.com/{{ site.github_username }}">
      <svg width="18" height="18" viewBox="0 0 24 24" fill="none" aria-hidden="true">
        <path d="M13.6 1.6 4.2 13.4c-.4.5 0 1.3.7 1.3h5l-1.7 7.5c-.2.8.9 1.3 1.4.6l9.4-11.8c.4-.5 0-1.3-.7-1.3h-5l1.7-7.5c.2-.8-.9-1.3-1.4-.6Z" fill="#f2a33c"/>
      </svg>
      <span>Strom</span>
    </a>
    <p class="footer-meta">
      {{ t_tagline }}
      <a href="https://janbalanya.com">Jan Balanyà Scholl</a>.
      <span aria-hidden="true">·</span>
      <a href="{{ about_url | relative_url }}">{{ t_about }}</a>
    </p>
  </div>
</footer>
