<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <a class="skip-link" href="#main">Skip to content</a>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content" id="main">
      <div class="wrapper">
        <div class="content-container">
          {%- unless page.no_sidebar -%}
            {%- include sidebar.html -%}
          {%- endunless -%}
          <div class="content">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
